<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <input ng-model="model.player.username"
           class="form-control"
           placeholder="username"/>

    <input ng-model="model.player.password"
           class="form-control"
           type="password"
           placeholder="password"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.login(model.player)">
        Login
    </a>

    <a class="btn btn-success btn-block"
       href="#!/register">
        Register
    </a>

</div>