<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/123">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <h1>Profile</h1>
    <label for="first">First Name</label>
    <input ng-model="model.user.firstName" id="first" class="form-control" type="text" placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName" id="last" class="form-control" type="text" placeholder="Last Name"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email" id="email" class="form-control" type="email" placeholder="Email"/>

    <label>Username</label>
    <input ng-model="model.user.username" class="form-control" type="text" placeholder="Username"/>

    <label>Password</label>
    <input ng-model="model.user.password" class="form-control" type="password" placeholder="Password"/>

    <a class="btn btn-primary btn-block" href="#!/user/123/website">
        Websites
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/123">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>