<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Widgets
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name" class="form-control" type="text" placeholder="Page Name" value="Blog Post"/>

    <label for="text">Text</label>
    <input id="text" class="form-control" type="text" placeholder="Text"/>

    <label for="size">Size</label>
    <input id="size" class="form-control" type="text" placeholder="3"/>

    <a class="btn btn-danger btn-block" href="widget-list.html">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>