<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/123/website/456/page/789/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/user/123/website/456/page/789/widget">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Widgets
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" id="name" class="form-control" type="text" placeholder="Page Name" value="Blog Post"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" id="text" class="form-control" type="text" placeholder="Text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url" id="url" class="form-control" type="text" placeholder="http://facebook.com"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width" id="width" class="form-control" type="text" placeholder="100%"/>

    <label for="upload">Upload</label>
    <input ng-model="model.widget.upload" id="upload" class="form-control" type="file"/>

    <a class="btn btn-primary btn-block" href="#!/user/123/website/456/page/789/widget">
        Upload Image
    </a>
    <a class="btn btn-danger btn-block" href="#!/user/123/website/456/page/789/widget">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/123">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>