<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/123/website/456/page/789/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/user/123/website/456/page/789/widget">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Widgets
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <br><br><br>
    <a href="#!/user/123/website/456/page/789/widget/1011">Header</a>
    <a class="center-block" href="#!/user/123/website/456/page/789/widget/1011">Image</a>
    <a href="#!/user/123/website/456/page/789/widget/1011">Youtube</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/123">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>