<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                <img height="28px" src="https://images.vexels.com/media/users/3/137413/isolated/preview/4acb8e52632aa9b7c874b878eaf02bc4-spotify-icon-logo-by-vexels.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li class=""><a href="#!/profile">Profile</a></li>
                <li><a href="#!/playlist">Playlists</a></li>
                <li class="active"><a href="#!/playlist/new">New Playlist</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{model.currentPlayer.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="model.currentPlayer.role == 'admin'"><a href="#!/admin">Admin</a></li>
                        <li><a ng-click="model.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin">
                    Player List
                </a>
            </div>
        </div>
    </nav>
    <div ng-include="'views/player/player-register-template.view.client.html'"></div>
    <br>
    <div class="container-fluid">
        <div class="input-group">
            <span class="input-group-addon glyphicon-filter glyphicon"></span>
            <input type="text" ng-model="query" ng-change="model.filterPlayers(query)" class="form-control input-lg" placeholder="Filter results..."/>
        </div>
        <br>
        <p>Tip*: Click on a player cog for edits including adding/removing admins</p>
        <ul class="list-group">
            <div ng-repeat="player in model.players">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            {{player.name}}
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/profile/{{player._id}}/edit">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a ng-click="model.deletePlayer(player._id)" href="#!/admin">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <a class="btn btn-danger btn-block"
           ng-click="model.logout()">
            Logout
        </a>
    </div>
</div>