<div class="container-fluid">
    <h1>Edit Player</h1>

    <label for="name">Name</label>
    <input ng-model="model.player.name" id="name" class="form-control" type="text" placeholder="Player Name"/>
    <a ng-click="model.updatePlayer(model.player)" class="btn btn-primary btn-block">
        Update
    </a>

    <div class="container-fluid">
        <h1>Profile</h1>

        <label for="email">Email</label>
        <input ng-model="model.player.email" id="email" class="form-control" type="email" placeholder="Email"/>

        <label>Username</label>
        <input ng-model="model.player.username" class="form-control" type="text" placeholder="Username"/>

        <label>Password</label>
        <input ng-model="model.player.password" class="form-control" type="password" placeholder="Password"/>

    </div>

</div>