<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                <img height="28px" src="https://images.vexels.com/media/users/3/137413/isolated/preview/4acb8e52632aa9b7c874b878eaf02bc4-spotify-icon-logo-by-vexels.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#!/profile">Profile</a></li>
                <li><a href="#!/playlist">Playlists</a></li>
            </ul>
            <ul ng-show="model.currentPlayer == null" class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
            </ul>
            <ul ng-show="model.currentPlayer" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{model.currentPlayer.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="model.currentPlayer.role == 'admin'"><a href="#!/admin">Admin</a></li>
                        <li><a ng-click="model.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1>Edit Player</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>

    <label for="player-name">Name</label>
    <input id="player-name" ng-model="model.player.name" class="form-control" placeholder="name"/>
    <label for="player-username">Username</label>
    <input id="player-username" ng-model="model.player.username" class="form-control" placeholder="username" required/>
    <label for="player-password">Password</label>
    <input id="player-password" ng-model="model.player.password" type="password" class="form-control" placeholder="password" required/>
    <label for="player-email">Email</label>
    <input id="player-email" ng-model="model.player.email" type="email" class="form-control" placeholder="email"/>
    <label for="player-profile">Profile</label>
    <input id="player-profile" ng-model="model.player.profile" type="text" rows="3" class="form-control" placeholder="Born and raised in Boston..."/>
    <label for="player-favoriteArtists">Favorite Artists</label>
    <textarea id="player-favoriteArtists" ng-model="model.player.favoriteArtists" type="text" rows="3" class="form-control" placeholder="The Beatles, Bruno Mars,..."/>
    <a ng-click="model.updatePlayer(model.player)" class="btn btn-primary">
        Update
    </a>
    <a ng-show="model.isAdmin && model.player.role != 'admin'" ng-click="model.makeAdmin(model.player._id)" class="btn btn-info">Make Admin</a>
    <a ng-show="model.isAdmin && model.player.role == 'admin'"ng-click="model.removeAdmin(model.player._id)" class="btn btn-danger">Remove Admin</a>
</div>