<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col-xs-5 hc-search-bar">
            <select class="form-control input-lg" ng-model="queryParams.searchType">
                <option value="artist">Artist</option>
                <option value="album">Album</option>
                <option value="track">Track</option>
            </select>
        </div>
        <div class="col-xs-7 hc-search-bar">
            <div class="input-group">
                <!--<span class="input-group-addon"><i class="glyphicon glyphicon-music"></i></span>-->
                <input ng-model="queryParams.name" type="text" class="form-control input-lg" placeholder="Search!" />
                <span class="input-group-btn">
                    <button ng-click="model.search(queryParams)" class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div ng-switch="model.returnType">
        <div ng-switch-when="artist">
            <ul class="list-group">
                <li class="list-group-item active">
                    <label>Search Results</label>
                </li>
                <li ng-repeat="result in model.searchResults.artists.items" class="list-group-item">
                    <a href="#!/artist/{{result.id}}">
                        <img class="img-circle" ng-src="{{result.images[0].url}}" height="60px"/>
                        &nbsp{{result.name}}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-switch-when="track">
            <ul class="list-group">
                <li class="list-group-item active">
                    <label>Search Results</label>
                </li>
                <li ng-repeat="result in model.searchResults.tracks.items" class="list-group-item">
                    <a href="#!/song/{{result.id}}">
                        <img class="" ng-src="{{result.album.images[0].url}}" height="60px"/>
                        &nbsp{{result.name}}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <a ng-click="model.addTrackToPlaylist(result.id)">
                        <span class="glyphicon glyphicon-plus pull-right hc-big-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-switch-when="album">
            <ul class="list-group">
                <li class="list-group-item active">
                    <label>Search Results</label>
                </li>
                <li ng-repeat="result in model.searchResults.albums.items" class="list-group-item">
                    <a>
                        <img class="" ng-src="{{result.images[0].url}}" height="60px"/>
                        &nbsp{{result.name}}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>